{% extends 'base.html' %}

{% block head %}
<title> NEWS </title>
{% endblock %}



{% block float %}
{% endblock %}	

		
{% block body %}
<body>
<div class="jumbotron">
	<h1>WELCOME TO THE NEWS CHANNEL OF TRENDZ</h1>
	<p>This is a place that TeamTrendz will be giving latest news about what is happening in town</p>
	<p><b><i>It will be available in later updates of Trendz</i></b></p>
</div>

	
<div class="footer">
        <a href="{% url 'home:HomeView' %}">TRENDING</a>
        <a href="{% url 'trendz:news' %}" class="active">NEWS</a>
        <a href="{% url 'trendz:view_profile' %}">ME</a>    
</div>
{% endblock %}