{% extends 'base.html' %}

{% block head %}
<title>PROFILE</title>
<style>
	.header , a{
		background-color:dodgerblue; 
		color: white; 
		text-align: center;
		text-decoration: none;
	}
</style>
{% endblock %}


{% block body %}
<div class="container">
	<div class="row  header">

		<div class="col">
			<a href="{% url 'home:HomeView' %}"> TRENDZ </a>
		</div>

		<div class="col">
			<a href="{% url 'trendz:edit_profile' %}"> EP </a>
		</div>

		<div class="col">
			<a href="{% url 'trendz:change_password' %}"> CP </a>
		</div>

		<div class="col">
			<a href="{% url 'trendz:logout' %}"> LT </a>
		</div>

	</div>

	<div class="user_info">

		<h1>Profile</h1>
		<!--<img src="{{ user.userprofile.image.url }}" width='240'>-->
		<p>{{ user.first_name }} {{ user.last_name }}</p>
		<p>Area: {{ user.area }}</p>
		<p>Number: {{ user.number }}</p>			
		<p>About me: {{ user.bio }}</p>

	</div>

	
</div>
		
{% endblock %}

{% block float %}
{% endblock %}
	
