{% extends 'base.html' %}


{% block head %}
	<title>HOME</title>
{% endblock %}

{% block float %}
{% endblock %}


{% block body %}

<div class="container">
     <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <button class="add_trend"> Add Trend </button>
    </form>
</div>

<div class="container">
    {% for post in posts %}
        <div class="post_model">
        <p>{{ post.post }}</p>
        <p class="user_username"><img class="post_user_profile_image" src="{{ user.userprofile.profile_image.url }}" >{{ post.user }} </p>
				<p class= "post_created_date" > {{ post.created_date }} </p>
        </div>
    {% endfor %}
</div>

{% endblock %}
