{% extends 'base.html' %}


{% block head %}
	<title>HOME</title>
{% endblock %}

{% block float %}
{% endblock %}


{% block body %}

<div class="posts">
    {% for post in posts %}
        <div class="post_model">
					<img src="{{ post.post_image.url }}"/>
					<p  class="text">{{ post.post }}</p>

	        <p class="user_username">
					<!--	{% if post.user.userprofile.profile_image.url %}-->
						<img class="post_user_profile_image"
						src="{{ post.user.userprofile.profile_image.url }}" />
						<!--{% endif %}-->
						{{ post.user }}
					</p>
					<div class="like">Like</div>
				<!--	<p class= "post_created_date" > {{ post.created_date }} </p>-->
        </div>
    {% endfor %}
		<br/>
</div>

{% endblock %}
