{% extends 'base.html' %}



{% block head %}
	<title>HOME</title>
{% endblock %}

{% block float %}
{% endblock %}



		
{% block body %}
<div class="header">
    <h3 id="name">TRENDZ</h3>
</div>

<div class="container">
     <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  
        <br/>
        <button class="add_trend"> Add Trend </button>
    </form>
</div>  

<div class="container">
    {% for post in posts %}
        <div class="post_model">
        <p><b>{{ post.post }}</b></p>
        <p>{{ post.user }} || {{ post.created_date }} </p>
        <br/>
        </div>
    {% endfor %}
</div>  
		
{% endblock %}