
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{% block head %}
		<title>BASE</title>
		{% load static %}
		
		{% endblock %}
		<style type="text/css">
			.float{
				float:right;
			}
		</style>

	
	</head>
	<body>
		{% block css %}
		<link rel="stylesheet" href="{% static 'firstPage/login.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'home/home.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'home/news.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'home/footer.css' %}" type="text/css">
		{% endblock %}


		{% block float %}
		<div class="jumbotron">
			<a href="{% url 'home:HomeView' %}">TRENDZ</a>
			<div class="float" >
			<a href="{% url 'trendz:password_reset' %}" >   RESET PASSWORD  ||</a>
			<a href="{% url 'trendz:register' %}">REGISTER</a>
			</div>
		</div>
		{% endblock %}

		{% block body %}
		{% endblock %}


	{% block footer %}	
	{% if user.is_authenticated %}
    <div class="footer">
    <a href="{% url 'home:HomeView' %}"> TRENDING </a>
    <a href="{% url 'trendz:news' %}"> NEWS </a>
    <a href="{% url 'trendz:view_profile' %}"> ME </a> 
    </div> 
    {% endif %}
    {% endblock %}

		
	</body>
</html>