.footer{
	overflow: hidden;
	position: fixed;
	width: 100%;
	bottom:0;
	background: #fb5b11;
	}

.footer a {
	display: inline;
	text-align: center;
	color: white;
	text-decoration: none;
	padding: 10%;
	font-weight:bold;
  }


.f-link {
	line-height: 30px;
	margin:auto;
	width: 100vh;
}
